

<%# Collecions Banner %>
 <div class="banner-container" height="980px">
    <div class="banner" >
      <h1>MY<br> <spam class="brush-word">COLLECTIONS</spam></h1>
      </div>
      <div class="video">
          <video height="auto" width="100%" autoplay="autoplay" loop muted>
          <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1592686062/post_artwork_cegfbs.mov")%> type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>
  </div>

<a href=""><%= link_to  "Create new collection", new_collection_path %></a>

<div class ="flex-container-collection">
        <% @collections.each do |collection| %>
        
        <%= link_to "Collection", collection, method: :get, remote: true %>
        <div class="collection-card-flex">
            <div class="collection-text-area" >
                <h1 class="collection-text-flex"><%= collection.name.titleize %></h1>
                
                        <video class="video-collections" height="300px" width="300px%" autoplay="autoplay" loop muted>
                        <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1593028512/ezgif-3-8f8b23933a3f_f1dgyr.mp4")%> type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
            
            <% collection.artworks.sample(3).each do |artwork| %>
                <div class="collection-card-thumbnail" style="background-image: url('<%= cl_image_path(artwork.images.first.key)%>')"></div>
            <% end %>
             <% if collection.artworks.length < 3 %>
                <% (3-collection.artworks.length).times do %>
                    <div class="collection-card-thumbnail" style="background-image: url('https://images.pond5.com/4k-plus-sign-spinning-icon-footage-072479606_prevstill.jpeg')"></div>
                <% end %>
            <% end %>
        </div>
        
        <% end %>
</div>

<div class = "collection-artworks">
    <%# This will will contain the partial  %>
   
</div>




