


<!--Start breadcrumb area-->
<section class="exhibitions-area exhibitions-page">
<section class="breadcrumb-area" style="background-image: url(http://mehedi.asiandevelopers.com/demo/museum/images/slides/v1-3.jpg);">
    <div class="container-gallery">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title">
                       <h1><%= @collection.name %></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</section>

<!--End breadcrumb area-->


<div class="masonry-with-columns px-3">
  <% @artworks.shuffle.each do |artwork| %>
    <%= link_to artwork do %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>
          <% end %>
          <div class="d-flex">
            <% if user_signed_in? %>
              <%= render "favourite_button", artwork: artwork %>
              <%= render "like_button", artwork: artwork %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>