<%= simple_form_for @artwork, remote: true do |f| %>
<h1 class="text-capitalize center add-creation-text">add your creation</h1>
<div class="form-style">
  <div class="image-form-style">
      <%= f.input :images, as: :file, input_html: { multiple: true}, label: false %>
    </div>
    <div class="" id="remove-checkbox" label="">
      <%= f.input :tag_list, as: :check_boxes, collection: ["Art", "Paint", "Painting House", "Drawing", "Abstract", "Design", "Nature", "Artist", "Painter"] %>
    </div>
    
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :genre %>
    <%= f.input :medium %>
    <%= f.input :date_created %>

      <%= f.submit class: "btn-bespoke submit-photo-button", label: false %>
    
</div>
  
<% end %>
