<div class="artwork-card">
  <div class="artwork-image">
    <%= cl_image_tag(@artwork.images.first.key, :quality=>"auto", :fetch_format=>:auto) %>
  </div>
  <ul>
    <% @related_artworks.each do |r| %>
    <li><%= r.name %></li>
    <% end %>
  </ul>
  <div class="d-flex">
    <%= render "shared/like_button", artwork: @artwork %>
    <%= render "shared/collection_modal", artwork: @artwork %>
  </div>

  <h2 class="forum text-left"><%= @artwork.name %></h2>
  <div class="flex-info">
    <div class="flex-description">
      <p class="garamond"><%= @artwork.description %></p>
    </div>
    <div class="flex-avatar text-decoration-none">
      <p>
        <%= link_to artist_path(@artwork.user_id), class: "no-underline h4-color" do %>
        <%= cl_image_tag(@artwork.user.avatar.key, :class => "artist-avatar")%>
        <h4 class="forum remove-underline "><%= @artwork.user.name %></h4>
        <% end %>
          <p class="garamond follows-count"><%= @artwork.user.follows.count + 11532 %> Admires</p>  
          <p>
            <%= link_to "Admire", user_follows_path(@artwork.user), method: :post, class: "btn-follow", remote: true %>
          </p>
        </p>
      </div>
    </div>
  </div>

<br>

  <div>

    <h2 class="forum text-center mt-5">Artist's Other Work </h2>
  </div>
  <div class="card-grid-layout px-3">
    <% @artworks.first(7).each do |artwork| %>
    <%= link_to artwork, class: 'link-upstyled' do %>
    <figure class="art card__hover" >
      <%= cl_image_tag(artwork.images.first.key, :quality=>"auto", :fetch_format=>:auto, :width=> 361)%>
      <div class="card-description">
        <p class="card-details"><%= artwork.name %></p>
      </div>
    </figure>
    <% end %>

    <% end %>
  </div>


