


<div class="artwork-card">
  <div class="artwork-image">
    <%= cl_image_tag(@artwork.images.first.key) %>
  </div>
<ul>
  <% @related_artworks.each do |r| %>
    <li><%= r.name %></li>
  <% end %>
</ul>
    <%= render "shared/collection_modal", artwork: @artwork %>
    <%= render "shared/like_button", artwork: @artwork %>
    <h2><%= @artwork.name %></h2>
  <div class="flex-info">
    <div class="flex-description">
      <p><%= @artwork.description %></p>
    </div>
    <div class="flex-avatar">
      <p>
        <%= link_to artist_path(@artwork.user_id) do %>
        <img src="https://www.vincentvangogh.org/images/self-portrait.jpg" class="artist-avatar">
        <h4 class="forum"><%= @artwork.user.name %></h3>
        <p class="garamond follows-count"><%= @artwork.user.follows.count %> Admires</p>
        <% end %>
        <p>
          <%= link_to "Follow", user_follows_path(@artwork.user), method: :post, class: "btn btn-follow", remote: true %>
        </p>
      </p>
    </div>
  </div>
</div>


<div>



</div>


<div>
<br/><br/><br/><br/><br/><br/>
  <h1>Artist's Other Work </h1>
</div>
<div class="card-grid-layout px-3">
  <% @artworks.each do |artwork| %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>
        </div>
      </div>
  <% end %>
</div>


