


<div class="artwork-card">
  <div class="artwork-image">
    <%= cl_image_tag(@artwork.images.first.key) %>
  </div>
    <%= render "pages/favourite_button", artwork: @artwork %>
    <%= render "pages/like_button", artwork: @artwork %>
    <h2><%= @artwork.name %></h2>
  <div class="flex-info">
    <div class="flex-description">
      <p><%= @artwork.description %></p>
    </div>
    <div class="flex-avatar">
      <p>
        <%= link_to artist_path(@artwork.user_id) do %>
        <img src="https://www.vincentvangogh.org/images/self-portrait.jpg" class="avatar">
        <h4 class="forum">Vincent Van Gogh</h3>
        <p class="garamond">1200 Admires</p>
        <% end %>
        <p>
          <%= link_to "Follow", user_follows_path(@artwork.user), class: "btn" %>
          <button type="button" class="button">Contact</button>
        </p>
      </p>
    </div>
  </div>
</div>


<div>



</div>


<div>
<br/><br/><br/><br/><br/><br/>
  <h1>Artist's Other Work </h1>
</div>
<div class="masonry-with-columns px-3">
  <% @artworks.shuffle.each do |artwork| %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>

        </div>
      </div>
  <% end %>
</div>


