<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="d-flex">
    <%=link_to image_tag("https://res.cloudinary.com/dybthmrxc/image/upload/v1592450846/logo_e3ccce.png", :style => "height:65px"), "/", class: "navbar-brand"%>
    
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-center border-0",
        placeholder: "Search"
      %>
      
    <% end %>
  </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Post My Art", new_artwork_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Galleries", galleries_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Curate my gallery", new_gallery_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Collections", collections_path , class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Profile", artist_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My Account", "#", class: "dropdown-item" %>
          <%= link_to "My Messages", "#", class: "dropdown-item" %>
          <%= link_to "Messsages", "#", class: "dropdown-item" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
        </div>
      </li>
      <% else %>
        <ul class="navbar-nav mr-auro">
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>
    </ul>
  </div>
</div>
