


<div class="banner">
  <h1>WELCOME<br>TO<br>ART BY<br>THE <spam class="brush-word">BRUSH</spam></h1>
</div>

<div class="second-banner">
  <h2 class="second-title">Personalising Your Art By The Brush Experience</h2>
  <p class="paragraph">Select Some Genres You’re Interested In To Help Personalize Your Experience<br>Starting With Finding People To Follow</p>
</div>

<div class="masonry-with-columns px-3">
  <% @artworks.each do |artwork| %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>
          <div class="d-flex">
            <% if user_signed_in? %>
              <% if current_user.favourites.select { |f| f.artwork == artwork}.empty? %>
                <%= simple_form_for [artwork, @favourite] do |f| %>
                  
                  <%= button_tag do %>
                    <i class="far fa-bookmark"></i>
                  <% end %>

                <% end %>
              <% else %>
              <%= link_to favourite_path(current_user.favourites.select { |f| f.artwork == artwork}.first),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-bookmark"></i>
                <% end %>
              <% end %>

              <% if current_user.likes.select { |f| f.artwork == artwork}.empty? %>
                <%= simple_form_for [artwork, @like] do |f| %>
                  <%= button_tag do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to like_path(current_user.likes.select { |f| f.artwork == artwork}.first), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
       </div>
     </div>
  <% end %>
</div>

<%#= link_to "Create new artwork", new_artwork_path %>






