<% if @banner %>
  <div class="banner-container" height="980px">
    <div class="banner" >
      <h1>WELCOME<br>TO<br>ART BY<br>THE <spam class="brush-word">BRUSH</spam></h1>
      </div>
      <div class="video">
          <video height="auto" width="100%" autoplay="autoplay" loop muted>
          <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1592444312/art_video_veikwz.mov")%> type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>
  </div>

  <div class="second-banner">
  <h2 class="second-title">Welcome <%= @artist.name.split.first %></h2>
  <p class="paragraph">Select Some Genres You’re Interested In To Help Personalize Your Experience<br>Starting With Finding People To Follow</p>
  <% @top_tags.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag.name) %>
      <%= cl_image_tag(Artwork.tagged_with(tag.name).first.images.first.key, width: 24, height: 24, crop: :thumb, :quality=>"auto", :fetch_format=>:auto) %>
  <% end %>
  </div>
<% end %>

<div class="card-grid-layout px-3">
  <% @artworks.first(24).each do |artwork| %>
    <%= link_to artwork do %>
      <figure class="art card__hover" id="artwork-<%= artwork.id %>">
        <%= cl_image_tag(artwork.images.first.key, :width=>361, :quality=>"auto", :fetch_format=>:auto)%>
        <div class="card-description">
          <p class="card-details d-flex justify-content-center"><%= artwork.name %></p>
          <% end %>
            <% if user_signed_in? %>
            <div class="d-flex justify-content-center">
              <%= render "shared/like_button", artwork: artwork %>
              <%= render "shared/collection_modal", artwork: artwork %>
            </div>
        </div>
      </figure>
    <% end %>
  <% end %>
</div>

<div class="banner-container" height="980px">
    <div class="banner" >
      <h1>CURRENT<br> <spam class="brush-word">EXHIBITIONS</spam></h1>
      </div>
      <div class="video">
          <video height="auto" width="100%" autoplay="autoplay" loop muted>
          <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1592680176/gallery-short_k5awm0.mov")%> type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>
  </div>

<%# 
<div class="gallery-card px-3">
  <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1545033131-485ea67fd7c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
    <div class="card-trip-infos">
      <div class="w-100">
        <h2>Gallery Name</h2>
      </div>
      <img src="https://images.unsplash.com/photo-1525550557089-27c1bfedd06c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-trip-user avatar-bordered" />
    </div>
    <div class="flex-samples">
      <div class="sample">
        <img src="https://images.unsplash.com/photo-1591647862759-bdf6ef08ae78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
      </div>
      <div class="sample">
        <img src="https://images.unsplash.com/photo-1591647862759-bdf6ef08ae78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
      </div>
      <div class="sample">
        <img src="https://images.unsplash.com/photo-1591647862759-bdf6ef08ae78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
      </div>
    </div>
  </div> %>

  <%# <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1545033131-485ea67fd7c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
    <div class="card-trip-infos">
      <div class="w-100">
        <h2>Gallery Name</h2>
      </div>
      <img src="https://images.unsplash.com/photo-1525550557089-27c1bfedd06c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1545033131-485ea67fd7c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
    <div class="card-trip-infos">
      <div class="w-100">
          <h2>Gallery Name</h2>
      </div>
      <img src="https://images.unsplash.com/photo-1525550557089-27c1bfedd06c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1545033131-485ea67fd7c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
    <div class="card-trip-infos">
      <div class="w-100">
        <h2>Gallery Name</h2>
      </div>
      <img src="https://images.unsplash.com/photo-1525550557089-27c1bfedd06c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-trip-user avatar-bordered" />
    </div>
  </div>

</div> %>

<div class="similar">
  <h2>Follow Similar Artists</h2>
  <div class="similar-flex">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
  </div>
</div>
<%#= link_to "Create new artwork", new_artwork_path %>






