


<div class="banner">
  <h1>WELCOME<br>TO<br>ART BY<br>THE <spam class="brush-word">BRUSH</spam></h1>
</div>

<div class="second-banner">
  <h2 class="second-title">Personalising Your Art By The Brush Experience</h2>
  <p class="paragraph">Select Some Genres You’re Interested In To Help Personalize Your Experience<br>Starting With Finding People To Follow</p>
</div>



<div class="gallery-card">
  <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1545033131-485ea67fd7c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" />
  <div class="card-trip-infos">
    <div>
      <h2>Gallery Name</h2>
    </div>
    <img src="https://images.unsplash.com/photo-1525550557089-27c1bfedd06c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-trip-user avatar-bordered" />
  </div>
</div>
</div>



<div class="masonry-with-columns px-3">
  <% @artworks.shuffle.each do |artwork| %>
    <%= link_to artwork do %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>
          <div class="d-flex">
            <% if user_signed_in? %>
              <% if current_user.favourites.select { |f| f.artwork == artwork}.empty? %>
                <%= simple_form_for [artwork, @favourite] do |f| %>
                  
                  <%= button_tag do %>
                    <i class="far fa-bookmark"></i>
                  <% end %>

                <% end %>
              <% else %>
              <%= link_to favourite_path(current_user.favourites.select { |f| f.artwork == artwork}.first),
                method: :delete,
                data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-bookmark"></i>
                <% end %>
              <% end %>

              <% if current_user.likes.select { |f| f.artwork == artwork}.empty? %>
                <%= simple_form_for [artwork, @like] do |f| %>
                  <%= button_tag do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to like_path(current_user.likes.select { |f| f.artwork == artwork}.first), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
       </div>
     </div>
    <% end %>
  <% end %>
</div>

<div class="similar">
  <h2>Follow Similar Artists</h2>
  <div class="flex">
      <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQCkG1DRSavF9tqFQFwctuLwm_P3rT0ylNIkSbmfbFb9jPwQij2&usqp=CAU" alt="">
    <div class="avatar"></div>
  </div>
</div>
<%#= link_to "Create new artwork", new_artwork_path %>






