<div class="artist-profile" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://res.cloudinary.com/dybthmrxc/image/upload/v1593169770/13220735_1025912217495701_6567366276771736942_o_ns0ysz.jpg)";>
  <div class="artist-text">
    <h1><%= @artist.name %></h1>
    <p class="mb-0">Fine Art Painter</p>
    <p class="follows-count"><%= @artist.follows.count %> Admires</p> 
    <p>
      <%= link_to "Admire", user_follows_path(@artist), method: :post, class: "btn-follow", remote: true %>
    </p>
    <%= cl_image_tag(@artist.avatar.key, :class => "card-trip-user avatar-bordered") %>
  </div>
</div>

<div class="card-grid-layout px-3 mb-3">
  <% @artworks.each do |artwork| %>
      <figure class="art card__hover" >
        <%= cl_image_tag(artwork.images.first.key)%>
        
        <div class="card-description">
          <p class="card-details"><%= artwork.name %></p>
          <% if user_signed_in? %>
            <div class="d-flex justify-content-center">
              <%= render "shared/like_button", artwork: artwork %>
              <%= render "shared/collection_modal", artwork: artwork %>
            </div>
          <% end %>
        </div>
      </figure>
  <% end %>
</div>
