<div class="artist-profile" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.statically.io/img/timelinecovers.pro/facebook-cover/download/leonid-afremov-bridge-painting-facebook-cover.jpg)";>
  <div class="artist-text">
    <h1>I am John Doe</h1>
    <p>And I'm a Painter</p>
    <button>Hire me</button>
    <%= @artist.email  %>
        <%= simple_form_for [@artist, @follow] do |f| %>
          <%= f.button :submit  %>
        <% end %>
  </div>
</div>



<div class="masonry-with-columns px-3">
  <% @artworks.shuffle.each do |artwork| %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>
          <% if user_signed_in? %>
            <%= render "shared/favourite_button" %>
            <%= render "shared/like_button" %>
          <% end %>
       </div>
     </div>
  <% end %>
</div>



