<div class="artist-profile" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://cdn11.bigcommerce.com/s-vx5jp8mgcz/images/stencil/1280x1280/products/1295/1465/t_Turner-Coast_of_Northumberland__44763.1547318751.jpg?c=2&imbypass=on)";>
  <div class="artist-text">
    <h1>I am <%#= @artist.name %></h1>
    <p>And I'm a Painter</p>
    <%= @artist.email  %>
        <%= simple_form_for [@artist, @follow] do |f| %>
          <%= f.button :submit  %>
        <% end %>
        
  </div>
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
</div>

<div class="card-grid-layout px-3">
  <% @artworks.each do |artwork| %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>
          <% if user_signed_in? %>
            <%= render "shared/favourite_button", artwork: artwork %>
            <%= render "shared/like_button", artwork: artwork %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>