<div class="artist-profile" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://cdn11.bigcommerce.com/s-vx5jp8mgcz/images/stencil/1280x1280/products/1295/1465/t_Turner-Coast_of_Northumberland__44763.1547318751.jpg?c=2&imbypass=on)";>
  <div class="artist-text">
    <h1>I am John Doe</h1>
    <p>And I'm a Painter</p>
    <%= @artist.email  %>
        <%= simple_form_for [@artist, @follow] do |f| %>
          <%= f.button :submit  %>
        <% end %>
        
  </div>
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
</div>



<div class="masonry-with-columns px-3">
  <% @artworks.shuffle.each do |artwork| %>
      <div class="art" >
        <%= cl_image_tag(artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= artwork.name %></p>
          <% if user_signed_in? %>
            <% if current_user.favourites.select { |f| f.artwork == artwork}.empty? %>
              <%= simple_form_for [artwork, @favourite] do |f| %>
                <%= f.button :submit  %>
              <% end %>
            <% else %>
             <%= link_to "Delete",
              favourite_path(current_user.favourites.select { |f| f.artwork == artwork}.first),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            <% end %>

            <% if current_user.likes.select { |f| f.artwork == artwork}.empty? %>
              <%= simple_form_for [artwork, @like] do |f| %>
                <%= f.button :submit  %>
              <% end %>
              <% else %>
             <%= link_to "Delete",
              like_path(current_user.likes.select { |f| f.artwork == artwork}.first),
              method: :delete,
              data: { confirm: "Are you sure?" } %>

            <% end %>
          <% end %>
       </div>
     </div>
  <% end %>
</div>



