<%= simple_form_for @gallery do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :image, as: :file %>
  <% my_artworks.each do |artwork| %>
  <input type="checkbox" class="hidden" value="<%= artwork.id %>" name="post[artwork_ids][]" id="post_artwork_ids_<%= artwork.id %>">
  <label for="post_artwork_ids_<%= artwork.id %>">
    <%= artwork.name %>
    <i class="fa fa-check"></i>
  </label>
<% end %>
  
  <%= f.submit class: "btn btn-primary" %>
<% end %>~