

<!--Start breadcrumb area-->
<%# <section class="breadcrumb-area" style="background-image: url(https://s3.amazonaws.com/files.collageplatform.com.prod/image_cache/1600x550/5b363dcb6aa72c840f8e552f/96740a9a689ea69190ad5c0088c3edb0.jpeg);">
    <div class="container-gallery">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title">
                        <h1>Current Galleries</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> %>


<div class="banner-container" height="980px">
    <div class="banner" >
      <h1>CURRENT<br> <spam class="brush-word">EXHIBITIONS</spam></h1>
  </div>
  <div class="video">
      <video height="auto" width="100%" autoplay="autoplay" loop muted>
          <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1592680176/gallery-short_k5awm0.mov")%> type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<!--End breadcrumb area-->

  <%# <% @curates.each do |curate| %>
<%# <%= cl_image_tag(curate.artwork.images.first.key, :class => "card-img-top") %> 
<%# <%= cl_image_tag((gallery.curates).artwork.images.first.key, :class => "thumbnail-img") %> 

<div class="container">
    <div class="sidenav">
        <ul class="menu-position text-capitalize">
            <li><a href="#" id="active-li">Current</a></li>
            <li><a href="#">Upcoming</a></li>
            <li><a href="#">Past</a></li>
            <li><a href="#">Museums and global exhibitions</a></li>
        </ul>
    </div>
    <div class="row">
        <% @galleries.each do |gallery| %>
        <div class="col-sm-4">
            <%= link_to gallery_path(gallery) do %>
            <div class="gallery-card">
                <%= cl_image_tag(gallery.image.key, :class => "card-img-top")%>
                
                <div class="gallery-card-avatar">
                    <%= cl_image_tag(gallery.user.avatar.key, :class => "image-circle") %>
                </div>
                <div class="card-body">
                    <p class="gallery-artist-name-text"><%= gallery.user.name %></p>
                    <p class="gallery-name-text"><%= gallery.name %></p>
                    <p class="card-text">Oil Paint on Canvas</p>
                    <p class="card-text"><small class="text-muted"><%= gallery.start_date.strftime("%d %B %Y") %> – <%= gallery.end_date.strftime("%d %B %Y") %></small></p>
                    <div class="panel-thumbnails">
                        <div class="row">
                            <% gallery.curates.sample(3).each do |curate| %>
                            <div class="col-sm-4" id="img-row">
                                <div class="thumbnail">
                                    <%= cl_image_tag(curate.artwork.images.first.key, :class => "thumbnail-img") %> 
                                
                                </div>
                            </div>
                            <% end %>
                        
                        </div>
                    </div>
               </div>
               <% end %> 
            </div>
        </div>
        <% end %> 
    </div>
</div>




