

<!--Start breadcrumb area-->
<%# <section class="breadcrumb-area" style="background-image: url(https://s3.amazonaws.com/files.collageplatform.com.prod/image_cache/1600x550/5b363dcb6aa72c840f8e552f/96740a9a689ea69190ad5c0088c3edb0.jpeg);">
    <div class="container-gallery">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content clearfix">
                    <div class="title">
                        <h1>Current Galleries</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> %>

<div class="banner-container" height="980px">
    <div class="banner" >
      <h1>CURRENT<br> <spam class="brush-word">EXHIBITIONS</spam></h1>
  </div>
  <div class="video">
      <video height="auto" width="100%" autoplay="autoplay" loop muted>
          <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1592680176/gallery-short_k5awm0.mov")%> type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

<!--End breadcrumb area-->
<section class="exhibitions-area exhibitions-page">
    <div class="container-gallery">
        <div class="row masonary-layout">
            <!--Start single exhibition Box-->
            <% @galleries.each do |gallery| %>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-exhibition-box style4">
                    <div class="img-holder">
                        <%= cl_image_tag(gallery.image.key)%>
                        <div class="overlay-style-one bg1">
                            <div class="zoom-button">
                                <a class="lightbox-image" data-fancybox="gallery" href="images/resources/exhibition-1.jpg">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="text-holder text-center">
                        <span>Exhibition</span>
                        <h2><%= gallery.name %></h2>
                        <h4>By <%= gallery.user.name %></h4>
                        <p>From <%= gallery.start_date %> until <%=gallery.end_date%></p>
                        <div class="bottom">
                            <div class="review-box">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="value">$ 60.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>


        <div class="row">
            <div class="col-xl-12">
                <div class="view-more-button text-center">
                    <a class="btn-two" href="#">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>




<a href=""><%= link_to "Create new gallery", new_gallery_path %></a>



