  <div class="banner-container" height="980px">
    <div class="banner" >
      <h1>CURATE<br> <spam class="brush-word">GALLERY</spam></h1>
      </div>
      <div class="video">
          <video height="auto" width="100%" autoplay="autoplay" loop muted>
          <source src= <%= URI.encode("https://res.cloudinary.com/dybthmrxc/video/upload/v1592751084/ezgif-3-0bec3ed14ba1_iib8vs.mp4")%> type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>
  </div>

<%= simple_form_for @gallery, class: "forum" do |f| %>
<div class="form-gallery-container">
  <div class="gallery-form garamond form-sticky">
    <section class="form-sticky form-margin">
    <h2 class="text-capitalize forum mb-3" id ="highlight">select your artwork</h2>
    <div class="form-body">
      <%= f.input :name, label: "Gallery Name" %>
      <%= f.input :description %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <br>
      <%= f.input :image, as: :file, label: "Add a Cover Photo"%>
      <br>
      <%= f.submit class: "btn-bespoke submit-photo-button btn-submit-position" %>
    </div>
    </section>      
  </div>
  <div class="gallery-artwork w-65">
    <div class="card-grid-layout px-3">
      <% @artworks.each do |artwork| %>
        <div class="form-check art" id="gallery">
          <input type="checkbox" class="form-check-input check_boxes optional" value="<%= artwork.id %>" name="post[artwork_ids][]"  id="post_artwork_ids_<%= artwork.id %> gallery">
          <label class="form-check-label collection_check_boxes" for="post_artwork_ids_<%= artwork.id %> gallery">
          <%= cl_image_tag(artwork.images.first.key, :width=> 250 , :quality=>"auto", :fetch_format=>:auto)%>
          </label>
        </div>
      <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
<% end %>

