


<div class="">
  <div>
    <div class="description-gallery">
      <h2><%= @gallery.name %></h2>
      <h3>Gallery Opening: <%= @gallery.start_date %> - <%@gallery.end_date%></h3>
      <p> <%= @gallery.description%></p>
    </div>
    <%= cl_image_tag(@gallery.image.key)%>

    <div class="avatar-gallery">
      <img src="https://www.vincentvangogh.org/images/self-portrait.jpg" alt="">
      <button type="button" class="button">Admire</button>
    </div>
  </div>
</div>

<div class="card-grid-layout px-3">
  <% @curates.each do |curate| %>
    <%= link_to curate.artwork do %>
      <div class="art" >
        <%= cl_image_tag(curate.artwork.images.first.key)%>
        <div class="card-description">
          <p class=""><%= curate.artwork.name %></p>
          <% end %> 
        </div>
      </div>
  <% end %>
</div>

